h1{
    text-align: center;
    text-decoration: underline dotted;
    font-size: 30px; 
    font-weight: 900;
    margin-bottom: 40px;
}
#shapes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}